#root {
  font-family: "Open Sans", sans-serif;
  color: $color-font;
}

.topBar {
  position: relative;
  background-color: $color-white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.logoBar {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0;

  &-icons {
    display: flex;
    justify-content: flex-end;
  }
}

.search {
  background-color: $color-grey-light;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 0px 10px;

  &-field {
    background-color: $color-grey-light;

    margin-left: 10px;
    border: none;
    outline: 0;
    font-size: 12px;
  }
}

.notification {
  margin: 0px 10px;
  position: relative;
  width: 30px;
  cursor: pointer;

  &-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    top: -5px;
    right: 1px;
    font-size: 14px;
    border-radius: 50%;
    background-color: $color-notification;
    color: $color-white;
  }
}

.account {
  margin: 0px 10px;
  position: relative;
  &-avatar {
    border-radius: 50%;
    cursor: pointer;
  }
  &::after {
    position: absolute;
    top: 50%;
    font-weight: bold;
    right: -2px;
    content: "\005E";
    transform: rotate(180deg) translate(-100%, 50%);
    cursor: pointer;
  }
}

.hamburger {
  margin: 0px 0px 0px 15px;
}

.menu {
  margin-bottom: 20px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-light;
    color: $color-black;
    padding: 15px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;

    &-active {
      background-color: $color-primary;
      color: $color-white;
      &:hover {
        background-color: $color-primary;
      }
    }

    &-active > &-icon {
      color: $color-white;
    }

    &-icon {
      color: $color-primary;

      margin-right: 10px;
    }

    &:hover {
      background-color: $color-grey-hover;
    }
  }
}

.dashboard {
  position: relative;
  z-index: 0;
  background-color: $color-grey-background;
padding: 24px 0px;
}

@media only screen and (max-width: 575px) {
  .topBar-container {
    margin: 0px 35px;
  }

  .dashboard-container {
    margin: 0px 35px;
    
  }

  
}
