$color-grey-light: #f0f5f8;
$color-grey-hover: #e6eaec;
$color-grey-background: #eff3f5;
$color-notification: #ff6f59;
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #734ef9;
$color-font: #354168;
$color-button: #464de4;